{% extends 'layout.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if errors %}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ errors }}</p>
    </div>
    {% endif %}

    {% include 'add_category_form.html' %}
    {% include 'add_card_form.html' %}
{% endblock %}
