<div class="uk-section">
        <div class="uk-container uk-container-small">
            <form class="uk-form-horizontal uk-margin-large" action="" method="POST">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">Add new category</legend>
                    {{ category_form.hidden_tag() }}
                    <div class="uk-margin">
                         {{ category_form.id.label(class_="uk-form-label") }}
                        <div class="uk-form-controls">
                            {{ category_form.id(class_="uk-input uk-form-width-medium", size=16) }}
                        </div>
                    </div>

                    {% if category_form.id.errors %}
                     <div class="uk-margin">
                         <ul class="uk-list">
                         {% for error in category_form.id.errors  %}
                            <li>{{ error }}</li>
                         {% endfor %}
                        </ul>
                     </div>
                    {% endif %}

                    <div class="uk-margin">
                         {{ category_form.category_name.label(class_="uk-form-label") }}
                        <div class="uk-form-controls">
                            {{ category_form.category_name(class_="uk-input uk-form-width-medium", size=16) }}
                        </div>
                    </div>

                    {% if category_form.id.errors %}
                     <div class="uk-margin">
                         <ul class="uk-list">
                         {% for error in category_form.category_name.errors  %}
                            <li>{{ error }}</li>
                         {% endfor %}
                        </ul>
                     </div>
                    {% endif %}

                    <div class="uk-margin">
                        {{ category_form.submit_category(class_="uk-button uk-button-default") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>