{% extends 'layout.html' %}

{% block content %}

<div class="uk-position-center">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <h3>Notice</h3>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <a href="{{auth_url}}" class="uk-button uk-button-primary uk-button-large">Login with Google</a>
</div>
{% endblock %}