<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('main_blueprint.add_to_watched') }}">Add Items</a></li>
            <li><a href="{{ url_for('main_blueprint.watching') }}">Tracked Items</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li><a href="{{ url_for('main_blueprint.logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>