{% extends 'layout.html' %}

{% block content %}

    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-shrink uk-text-nowrap">Image</th>
                    <th class="uk-table-shrink">Card</th>
                    <th class="uk-table-shrink">Price + Shipping</th>
                    <th class="uk-table-shrink">Auction Type</th>
                    {% if show_more %}
                        <th class="uk-table-shrink">See More</th>
                    {% endif %}
                    <th class="uk-table-shrink">Listing</th>
                </tr>
            </thead>
            <tbody>
    {% for card in cards %}
                <tr>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                    <td>
                        <img class="uk-preserve-width uk-border-circle" src="{{ card.image }}" width="40" alt="">
                    </td>
                    <td class="uk-text-nowrap">
                        {{ card.title }}
                    </td>
                    <td class="uk-text-nowrap">
                        ${{ card.price }} + {{ card.shipping }}
                    </td>
                    <td class="uk-text-nowrap">
                        {{ card.listing_type }}
                    </td>
                    {% if show_more %}
                        <td class="">
                            {% if card.found_listing %}
                                <a class="uk-button uk-button-default" href="/more/{{ card.key|replace(' ', '_') }}"
                                   target="_blank">See More</a>
                            {% else %}
                                <p>No listing found</p>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="">
                        {% if card.found_listing %}
                            <a class="uk-button uk-button-default" href="{{ card.url }}" target="_blank">See Listing</a>
                        {% else %}
                            <p>No listing found</p>
                        {% endif %}
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
